@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');
 body{
    font-family: 'Poppins', sans-serif;
 }
 .footer_container{
    background-color: orange;
    color: black;
 }
 .footer_link{
    color: black;
    text-align: start;
 }
 .links{
    color: black;
    text-decoration: none;
    text-align: start;
    margin-top: 1rem;
    
 }