.banner{
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('../Images/banner.jpg');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner h1{
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 30px;
    display: block;
    color:white;
}
.banner p{
    color: #FFFFFF;
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 90%;
    margin-bottom: 30px;
}
.banner button {
    color: #221d1d;;
    background-color: #FCA503;
    font-weight: 700;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 15rem;
    border-radius: 4rem;
    border-color: #FCA503;
    box-shadow: 2rem;

    
}
.banner button:hover {
    background-color: #1ADBAE;
    border: #1ADBAE;
    color:#FFFFFF;
}