@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');
 body{
    font-family: 'Poppins', sans-serif;
 }
.navbar {
    background-color: transparent !important;
    height: 80px;
}
.navbar .nav-link {
    color: #000;
    margin-left: 15px;
}
  
 
.navbar .nav-link:hover {
    color: #1ADBAE;
}
.navbar .nav-link:active{
    color: #1ADBAE;
}

