.sectionOne{
    margin: auto;
    width: 100%;
    margin-top: 1rem;
}
.newsSection{
    width: 70%;
    background-color: aqua;

}
.conversationsSection{
    width: 30%;
    background-color: black;
}
.newsContainer{
    background-color: beige;
    background-image: url('../Images/news.jpg');
    background-position: top center;
    background-size: cover;
    height: 10vh;
    margin: 3px 5px;
    border-radius: 0.5rem;
}
.newsDescription{
    font-size: 20px;
    display: block;
    font-weight: 100;
}
.box-container{
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}
.newsContainer{
    height: 300px;
}
.headings{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}