.login {
    margin-top: 13vh;
    width: 24vw !important;
    background-color: white !important;
    padding: 7vh;
    border-radius: 14px;
    box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.2);

}
.logoimge{
    border-radius: 4rem;
}

.icon-img {
    width: 70px;
    height: 70px;
}

.btnlg {
    background-color: black !important;
    color: white !important;
}

.btnlg:hover {
    background-color: aquamarine !important;
    color: black !important;

}

.inp {
    border-radius: 0;
    background-color: #ede0e000;
    border: none;
    border-bottom: 1px solid black;
}

.inp:focus {
    background-color: #ede0e000 !important;
    outline: none !important;
}


@media screen and (max-width: 1000px) {
    .login{
        width: 47vw !important;
    }
}

@media screen and (max-width: 510px) {
    .login{
        width: 65vw !important;
    }
}

.frgtpass{
    font-size: 0.9rem !important;
    text-decoration: none;
    color: black;
}

.frgtpass:hover{
    font-size: 0.9rem !important;
    text-decoration: none;
    color: blue;
}