.navadmin {
    background-color: white;
    box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.2);

}
.logoimg{
    border-radius: 3rem;
}

.lgout {
    text-decoration: none;
    color: black;
}

.lgout:hover {
    text-decoration: none;
    color: blue;
}

.empcont {
    padding: 2vh;
    padding-left: 3vh;
    margin-bottom: 4vh;
    background-color: white;
    box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.empcont:hover{
    padding: 2vh;
    padding-left: 3vh;
    margin-bottom: 4vh;
    background-color: black;
    box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.btntest{
    background-color: black !important;
}

.viewbtn {
    text-decoration: none;
    color: black;
    
}

.viewbtn:hover {
    text-decoration: none;
    color: white;
}
