.cont {
    margin-top: 13vh;
    width: 75vw !important;
    background-color: #ede0e0 !important;
    padding: 5vh;
    border-radius: 14px;
}

.inp {
    border-radius: 0;
    background-color: #ede0e000;
    border: none;
    border-bottom: 1px solid black;
}

.inp:focus {
    background-color: #ede0e000 !important;
    outline: none !important;
}

@media screen and (min-width: 840px) {
    .cont{
        width: 45vw !important;
    }
}

.btnlg {
    background-color: #9399d0;
    color: black;
}

.btnlg:hover {
    background-color: #6870b6;
    color: white;

}