.cont {
    margin-top: 13vh;
    width: 75vw !important;
    background-color:white !important;
    padding: 5vh;
    border-radius: 14px;
    box-shadow:2px 2px 4px 0 rgba(0, 0, 0, 0.2);

}

.inp {
    border-radius: 0;
    background-color: #ede0e000;
    border: none;
    border-bottom: 1px solid black;
}

.inp:focus {
    background-color: #ede0e000 !important;
    outline: none !important;
}

@media screen and (min-width: 840px) {
    .cont{
        width: 45vw !important;
    }
}

.btnlg {
    background-color: #9399d0;
}

.btnlg:hover {
    background-color: #6870b6;
    color: white;

}